@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
  font-family: 'PT Sans Narrow', sans-serif;
}

.svg-icon {
  position: relative;
  fill: currentColor;
  color: inherit;
  width: 100%;
  height: 100%;
}